html{
}

h1 {
    color: Red;
    display: block;
    font-size: 40px;
    text-align: center;
    background-color: black;
    padding: 20px;
    font-family: monospace;
}

body{
  height: 75%;
  width: 100%;
  border: 10px;
  border-color: red;
  border-style: solid;

}

.parent-container{
    display: flex;
}
nav{
  background-color: pink;
  width: 250px;
  height: 600px;
  display: inline-block;
  font-family: monospace;
  font-size: 15px;
  padding: 10px;
}

section {

  width: 80%;
  display: inline-block;
  padding: 10px;

}

.image-container{
  max-width: 500px;
}
img {
  display: inline-block;
  margin: 25px;
  padding: 10px;

  width: 500px;

}

footer {
  color: white;
  background-color: black;
  height: 60px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  display:block;
}
